{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        {% include 'parts/messages.html.twig' %}

                        <h1>Регистрация</h1>

                        {{ form_start(form) }}

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                {{ form_widget(form.name, {'attr': {'placeholder': 'Имя'}}) }}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                {{ form_widget(form.surname, {'attr': {'placeholder': 'Фамилия'}}) }}
                                {{ form_errors(form.surname) }}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                </div>
                                {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                </div>
                                {{ form_widget(form.phone, {'attr': {'placeholder': 'Телефон'}}) }}
                                {{ form_errors(form.phone) }}
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                {{ form_widget(form.password, {'attr': {'placeholder': 'Пароль'}}) }}
                                {{ form_errors(form.password) }}
                            </div>

                            <button type="submit" class="btn btn-block btn-success">Зарегистрироваться</button>

                        {{ form_end(form) }}
                    </div>
                    <div class="text-center">
                        <p>Уже зарегистрированы?</p>
                        <a class="btn btn-primary active mb-4" href="{{ path('app_login') }}">Авторизуйтесь</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
