{% extends 'admin.html.twig' %}

{% block title %}Создать нового пользователя{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin.home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin.users') }}">Пользователи</a></li>
        <li class="breadcrumb-item active">Создать нового пользователя</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Создать</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

