{% extends 'admin.html.twig' %}

{% block title %}Пользователи{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin.home') }}">Главная</a></li>
        <li class="breadcrumb-item active">Пользователи</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="mb-3">
        <a href="{{ path('admin.users.create') }}" class="btn btn-success">Добавить пользователя</a>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            {{ form_start(form) }}
                <tr>
                    <th>ID</th>
                    <th>Дата регистрации</th>
                    <th>Фамилия {{ form_widget(form.surname) }}</th>
                    <th>Имя {{ form_widget(form.name) }}</th>
                    <th>Email {{ form_widget(form.email) }}</th>
                    <th>Телефон {{ form_widget(form.phone) }}</th>
                    <th>Роль {{ form_widget(form.role) }}</th>
                    <th>Статус {{ form_widget(form.status) }}</th>
                </tr>
            {{ form_end(form) }}
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('admin.users.show', {'id': user.id}) }}">{{ user.id }}</a></td>
                    <td>{{ user.created_date|date('Y-m-d') }}</td>
                    <td>{{ user.name_surname }}</td>
                    <td>{{ user.name_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user_role(user.role) }}</td>
                    <td>{{ user_status(user.status) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}