{% extends 'admin.html.twig' %}

{% block title %}Пользователь #{{ user.id }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin.home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin.users') }}">Пользователи</a></li>
        <li class="breadcrumb-item active">Информация о пользователе #{{ user.id }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="row mb-3">
        <div class="pull-left"><a href="{{ path('admin.users.edit', {'id': user.id}) }}" class="btn btn-primary">Редактировать</a></div>

        <div class="pull-left ml-3">
            {% if user.wait or user.blocked %}
                <form action="{{ path('admin.users.status', {'id': user.id, 'status': 'active'}) }}" method="post" onsubmit="return confirm('Поменять статус?')">
                    <input type="hidden" name="token" value="{{ csrf_token('status') }}" />
                    <button type="submit" class="btn btn-success">Активировать</button>
                </form>
            {% endif %}
            {% if user.active and user.id != app.user.id %}
                <form action="{{ path('admin.users.status', {'id': user.id, 'status': 'blocked'}) }}" method="post" onsubmit="return confirm('Поменять статус?')">
                    <input type="hidden" name="token" value="{{ csrf_token('status') }}" />
                    <button type="submit" class="btn btn-danger">Заблокировать</button>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="box">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ user.name.surname }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ user.name.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email ? user.email.value : '' }}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ user.phone ? user.phone.value : '' }}</td>
            </tr>
            <tr>
                <th>Дата регистрации</th>
                <td>{{ user.createdDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Роль</th>
                <td>{{ user_role(user.role.name) }}</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>{{ user_status(user.status) }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}