{% extends 'admin.html.twig' %}

{% block title %}Категория #{{ category.id }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0">
        <li class="breadcrumb-item"><a href="{{ path('admin.home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin.categories') }}">Категории</a></li>
        <li class="breadcrumb-item active">Информация о категории #{{ category.id }}</li>
    </ol>
{% endblock %}


{% block body %}

    <div class="actions">
        <a href="{{ path('admin.categories.edit', {'id': category.id}) }}" class="btn btn-primary">Редактировать</a>
    </div>

    <div class="card mt-3">
        <div class="card-header">Инфомрация о категории</div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ category.id }}</td>
                </tr>
                <tr>
                    <th>Название</th>
                    <td>{{ category.name }}</td>
                </tr>
                <tr>
                    <th>Полный путь</th>
                    <td>{{ category_full_name }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}