<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Store admin panel{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="c-app">
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand d-lg-down-none">

        </div>
        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="{{ path('admin.home') }}">
                    <i class="c-sidebar-nav-icon fa fa-dashboard"></i> Главная
                </a>
                <a class="c-sidebar-nav-link" href="{{ path('admin.users') }}">
                    <i class="c-sidebar-nav-icon fa fa-users"></i> Пользователи
                </a>
            </li>
        </ul>

        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
    </div>

    <div class="c-wrapper c-fixed-components">
        <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
            <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="c-header-nav d-md-down-none">
                <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="{{ path('admin.home') }}">Главная</a></li>
                <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="{{ path('admin.users') }}">Пользователи</a></li>
            </ul>

            <ul class="c-header-nav ml-auto mr-4">
                <li class="c-header-nav-item dropdown">
                    <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="c-avatar"><i class="fa fa-user fa-2x c-avatar-img"></i></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right pt-0">
                        <div class="dropdown-header bg-light py-2"><strong>Аккаунт</strong></div>
                        <span class="dropdown-item">
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <i class="fa fa-power-off c-icon mr-2"></i> Выйти
                            </a>
                        </span>
                    </div>
                </li>
            </ul>


            <div class="c-subheader px-3">
                {% block breadcrumbs %}{% endblock %}
            </div>
        </header>
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    {% include 'parts/messages.html.twig' %}
                    {% block body %}{% endblock %}
                </div>
            </main>
        </div>
    </div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
