{% extends 'admin.html.twig' %}

{% block title %}Загрузить фотографии для товара #{{ product.id }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0">
        <li class="breadcrumb-item"><a href="{{ path('admin.home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin.products') }}">Товары</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin.products.show', {'id': product.id}) }}">Товар #{{ product.id }}</a></li>
        <li class="breadcrumb-item active">Загрузить фотографии для товара #{{ product.id }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">Загрузить фотографию</div>
        <div class="card-body">

            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.files) }}
                    <input name="{{ form.files.vars.full_name }}" type="file" multiple class="form-control-file" id="{{ form.files.vars.id }}">
                </div>
                <button type="submit" class="btn btn-primary">Загрузить</button>
            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div id="sortable" class="row" data-callback="{{ path('admin.products.images.sort', {'id': product.id}) }}">
                {% for image in images %}
                    <form data-id="{{ image.fileName }}" action="{{ path('admin.products.images.delete', {'id': product.id}) }}" method="post" class="col-3 text-center">
                        <img src="{{ image.relPath }}" alt="{{ product.name }}" class="img-thumbnail" />
                        <button class="btn btn-danger">Удалить фото</button>
                        <input type="hidden" name="token" value="{{ csrf_token('image') }}" />
                        <input type="hidden" name="fileName" value="{{ image.fileName }}" />
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
